<#include "css/style.css">
<#include "css/bootstrap.min.css">
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>Signin Template for Bootstrap</title>


</head>

<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <label for="inputName" class="sr-only">Full Name</label>
        <input type="text" id="inputName" class="form-control" placeholder="Full Name" required autofocus>
        <br>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <label for="inputPosition" class="sr-only">Position</label>
        <input type="text" id="inputPosition" class="form-control" placeholder="Position" required autofocus>
        <br>
        <label for="gender" class="sr-only">Gender</label>
        <select id="gender" name="gender" class="form-control" style="height: 45px;" required autofocus>
            <option value ="none">--Nothing--</option>
            <option value ="male" name="male">Male</option>
            <option value ="female" name="female">Female</option>
            <option value ="other" name="other">Other</option>
        </select>
        <br>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; Tinder 2018</p>
    </form>
</body>
</html>